################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dosyadaki_hakikat/v15/Server/sqlite3
/.vs/dosyadaki_hakikat/v15
/bin/Debug
